<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game IZI - as melhores competições de league of legends</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
    <script data-ad-client="ca-pub-5965008813062998" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
</head>
<body>
    <header>
        <img src="assets/logogameizi.svg" alt="logoGameIZI" class="logo  ">
        <h2>próximos eventos:</h2>
        <a href="/ligalol/informacoes"><img src="../assets/lalogo.png" alt="liga lol" width="200px"></a>
    </header>
    <footer>
        <div class="contato">
            Contato
        </div>
        <div class="contatoInfo">
            <h1>Matheus Souza Santos</h1>
            <a href="mailto:contato@ameizi.com.br">Email: contato@gameizi.com.br</a>
            <a href="tel:+55 (99) 99194-7191">Tel: +55 (99) 99194-7191</a>
        </div>
    </footer>
    <div class="copyright">© 2020 Game IZI, inc. Todos os direitos reservados.</div>
</body>
</html>