<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1º Liga Amadora de league of legends - Sobre a competição</title>
    <link rel="stylesheet" href="../styles/cadastro.css">
    <link rel="shortcut icon" href="../assets/lalogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/info.css">

</head>
<body>
    <div class="appComponent">

    </div>
    <header>
        <div class="logo-container">
            <img src="../assets/lalogo.png" alt="logo liga amadora" class=" logoInicial">
            <h1>Informações:</h1>
        </div>
    </header>
    <main>
        <section class="container">
            <div class="topico">
                <h2>QUEM SOMOS:</h2>
                <p> A liga amadora, trata-se de uma atual empresa de esportes que engloba a área de jogos eletrônicos como Moba, FPS, Battle Royale  e jogos Mobile no geral.</p>
            </div>
            <div class="topico">
                <h2>COMO SERÁ FEITA A COMPETIÇÃO:</h2>
                <P>• As partidas serão transmitidas ao vivo na plataforma de streaming Twitch TV e respectivamente publicadas no nosso canal do YouTube.</P>
                <p> • O formato do campeonato será pelo sistema mata-mata até que chegue a um resultado de quem ficará em 1°,2°e 3° lugar do ranking.</p>
            </div>
            <ol class="topico">
                <h2>PERGUNTAS FREQUENTES:</h2>
                <li>Não tenho time, o que devo fazer?</li>
                <p>Se você deseja participar da competição mas não possui uma equipe <a href="https://chat.whatsapp.com/Je6qADqFVvg7MQ55YohGUO">clique aqui!</a> e você entrará para um grupo de WhatsApp onde encotrará outros jogadores que também estão sem time, logo poderá formar sua equipe por lá.</p>
            </ol>

            <div class="topico">
                <h2>JÁ TEM UMA EQUIPE ?</h2>
                <a class="cadastrar" href="cadastro">FAÇA SUA INSCRIÇÃO</a>
            </div>
            <div class="topico">
                <h2>JÀ ESTÁ PARTICIPANDO?</h2>
                <a class="cadastrar" href="equipes">VER TODAS AS EQUIPES</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            Organização:
            <a href="https://api.whatsapp.com/send?l=pt-BR&text=Ol%C3%A1%20queria%20tirar%20uma%20d%C3%BAvida%20sobre%20o%20campeonado%20de%20league%20of%20legends%20que%20voc%C3%AA%20est%C3%A1%20organizando.&phone=559991878810">Marcos Lauremiro: (99) 9 9187-8810</a>
            <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5599991947191&text=Ol%C3%A1%20queria%20tirar%20uma%20d%C3%BAvida%20sobre%20o%20campeonado%20de%20league%20of%20legends%20que%20voc%C3%AA%20est%C3%A1%20organizando.    ">Matheus Souza: (99) 9 9194-7191 </a>
            Colaborador:
            <a href="../"><img src="../assets/logofull.png" alt="logogameizi"></a>
            © 2020 Liga Amadora, inc. Todos os direitos reservados.</div>
    </footer>
    
</body>
</html>