<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Pagamento</title>
    <link rel="stylesheet" href="../styles/cadastro.css">
    <link rel="shortcut icon" href="../assets/lalogo.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/info.css">

</head>
<body>
    <div class="appComponent">

    </div>
    <header>
        <div class="logo-container">
            <img src="../assets/lalogo.png" alt="logo liga amadora" class=" logoInicial">
            <h1>Pagamento:</h1>
        </div>
    </header>
    <main>
        <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
            data-preference-id="649507325-11f1430a-d243-4ec1-b0b0-8c65c7ffa24f">
        </script>


        <!-- <form method="POST">
            <script
             src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
             data-preference-id="<%= global.id %>"
             data-public-key="TEST-dabe5e1a-21c9-4265-b36f-6bfd7a24397a"
             
             >
            </script>
        </form> -->
    </main>
    <footer>
        <div class="copyright">
            Organização:
            <a href="https://api.whatsapp.com/send?l=pt-BR&text=Ol%C3%A1%20queria%20tirar%20uma%20d%C3%BAvida%20sobre%20o%20campeonado%20de%20league%20of%20legends%20que%20voc%C3%AA%20est%C3%A1%20organizando.&phone=559991878810">Marcos Lauremiro: (99) 9 9187-8810</a>
            <a href="https://api.whatsapp.com/send?l=pt-BR&phone=5599991947191&text=Ol%C3%A1%20queria%20tirar%20uma%20d%C3%BAvida%20sobre%20o%20campeonado%20de%20league%20of%20legends%20que%20voc%C3%AA%20est%C3%A1%20organizando.    ">Matheus Souza: (99) 9 9194-7191 </a>
            Colaborador:
            <a href="../"><img src="../assets/logofull.png" alt="logogameizi"></a>
            © 2020 Liga Amadora, inc. Todos os direitos reservados.</div>
    </footer>
</body>
</html>